<%- include('../partials/header') %>
<h1>Upcoming Events</h1>
<ul>
  <% events.forEach(event => { %>
    <li>
      <strong><%= event.title %></strong><br>
      <%= event.date %> @ <%= event.location %><br>
      <img src="<%= event.image %>" width="200">
    </li>
  <% }); %>
</ul>
<p>Check out what's happening soon!</p>
<%- include('../partials/footer') %>


