<%- include('../partials/header') %>

<main class="events-main">
  <div class="events-container">
    <h1 class="events-title">Upcoming Events</h1>
    <p class="events-subtitle">
      Explore our exciting lineup of events happening in your community.
    </p>

    <div class="events-wrapper">
      <% if (events && events.length > 0) { %>
        <ul class="events-list">
          <% events.forEach(event => { %>
            <li class="event-item">
              <h4><%= event.title %></h4>
              <p><%= event.date %> @ <%= event.location %></p>
              <img src="<%= event.image %>" width="250" alt="<%= event.title %>">
            </li>
          <% }); %>
        </ul>
      <% } else { %>
        <p>No events currently available. Please check back later!</p>
      <% } %>
    </div>
  </div>
</main>

<%- include('../partials/footer') %>